html, body, body #app, .app-container, .app-container > div {
    position: relative;
    width: 100%;
    height: 100%;
}

/* LOADER ANIMATION - SOURCE: https://codepen.io/alanshortis/pen/eJLVXr */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.app-container > .loader{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s, z-index .5s;
    background-color: #fff;
    z-index: -10;
}

.app-container.loading > .loader{
    opacity: 1;
    z-index: 100;
}

.app-container.loading > .loader:before {
    display: block;
    content: "\0020";
    position: absolute;
    top: 50%; left: 50%;
    width: 52px; height: 52px;
    margin-top: -26px; margin-left: -26px;
    border: 0.25rem solid rgba(0, 0, 0, 0.2);
    border-top-color: black;
    border-radius: 50%;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

#app .navbar{
    border-radius: 0;
}

#app .navbar-brand{
    font-size: 1.5em;
    line-height: 25px;
}

#app .navbar-brand > img {
    margin-top: -4px;
    margin-right: .5rem;
}

body .result-display{
    display: none;
}

body.complete #app{
    height: auto !important;
}

body.complete .result-display{
    display: block;
}